<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Admin</title>

    <link rel="stylesheet" type="text/css" media="all"  href="{{{ staticRoot }}}/vendor/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" media="all"  href="{{{ staticRoot }}}/vendor/angular-ui-notification/dist/angular-ui-notification.css"/>
    <link rel="stylesheet" type="text/css" media="all"  href="{{{ staticRoot }}}/vendor/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
    <link rel="stylesheet" type="text/css" media="all"  href="{{{ staticRoot }}}/css/bootstrap.vertical-tabs.css"/>
    <link rel="stylesheet" type="text/css" media="all"  href="{{{ staticRoot }}}/vendor/angular/angular-csp.css"/>
    <link rel="stylesheet" type="text/css" media="all"  href="{{{ staticRoot }}}/vendor/angular-ui-select/dist/select.css"/>
    <link rel="stylesheet" type="text/css" media="all"  href="{{{ staticRoot }}}/thoolika-admin-angular/css/thoolika.css"/>
    <script type="text/javascript">
      window.$thoolikaConfig = {
        cookieName: '{{{ cookieName }}}',
        siteRoot: '{{{ siteRoot }}}',
        staticRoot: '{{{ staticRoot }}}',
        siteName: '{{{ siteName }}}',
      };
    </script>
  </head>

  <body ng-app="thoolika.admin" >
    <div class="container-fluid" id="ta-main">
      <ui-view></ui-view>
    </div>

    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/angular/angular.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/moment/min/moment.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/angular-ui-select/dist/select.js"></script>
    {#  <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/feathers-client/dist/feathers.js"></script>  #}
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/primus/primus.js"></script>

    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/angular-ui-notification/dist/angular-ui-notification.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/tv4/tv4.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/objectpath/lib/ObjectPath.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/angular-schema-form/dist/schema-form.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/angular-schema-form-bootstrap/bootstrap-decorator.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/angular-schema-form-ckeditor/bootstrap-ckeditor.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/angular-schema-form-bs-extra/dist/angular-schema-form-bs-extra.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/angular-schema-form-bs-extra/dist/templates.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/ng-img-crop/compile/minified/ng-img-crop.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/vendor/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/thoolika-admin-angular/js/main.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/thoolika-admin-angular/js/templates.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{{ staticRoot }}}/js/app.js"></script>
  </body>

</html>
